# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
*.ipynb
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Images (screenshots, not plots)
notebooks/image.png
